/*--@font-face 
{
    font-family: 'ralewaythin';
    src: url('font/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('font/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*
{
    font-family: 'ralewaythin', Verdana;
}
--*/

header
{
    font-weight: bolder;
    text-align: right;
    margin-left: 4px;
}

#logo
{
    margin-top: -1%;
    margin-bottom: -1%;
    float: left;
    width: 116px;
    height: 54px;
}

nav
{
    margin-left: 7px;
}

#headul
{
    display: inline-flex;
}
#headul div
{
    display:flex;
}

ul
{
    list-style-type: none;
}

a:link
{
    text-decoration: none;
    color: inherit;
}

a:visited 
{
    text-decoration: none; 
    color: initial;
}

body
{
    margin: 30px;
    font-family: 'raleway';
}

h2
{
    font-weight: 900;
}

h3
{
    font-weight: 900;  
}

main
{
    margin-left: 20px;
}


.he:nth-child(1)
{
    margin-top: -54px;
    margin-right: -56px;
    width: 139px;
    padding-right: 23px;
    padding-top: 33px;  
}

.he2
{
    margin-left: 74px;
    margin-top: -54px;
    margin-right: -18px;
    width: 119px;
    padding-right: 47px;
    padding-top: 33px;
    
}

.he:nth-child(2)
{
    margin-left: 20px;
    margin-top: -54px;
    margin-right: 6px;
    width: 125px;
    padding-right: 35px;
    padding-top: 33px;

}

.he:nth-child(4)
{
    flex:0.3;
    font-weight: bold;
}

.he:hover 
{
   border-top:1px solid #0065FC;   
}

.he:hover a
{
    color:#0065FC;
}


#sins
{
   color:#0065FC;   
}


#butrech
{
    display: flex;
    flex-direction: row;
    align-self: start;
    width: 100%;
    border-color:#F2F2F2;
    margin-bottom: 15px;
}

#rech
{
    background-color: #0065FC;
    border: 10px;
    color: #FFFFFF;
    padding: 15px;   
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    border-radius: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 18%;    
    padding-top: 12%;

}  
#rech2
{

    margin-top: -4%;
} 

#rechr
{
    display: none;
}

#butmap
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F2F2F2;   
    height: 40px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 50px;
    font-size: 0.8em;
}

#filtres
{
    display:flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.filtreb
{
    border:1px solid;
    border-color:#F2F2F2;
    border-radius:25px;    
    height: 35px;
    display: inline-flex;
    margin-right: 15px;
    align-items: center;
    

}

#fil
{
   margin-right: 15px; 
}

#fil2
{
    align-items: center;
    display: flex;
}

.filtret
{
  
     margin-right: 15px;     
   
}

#fecotext
{
    margin-top:5%;
}

#mon
{
   align-items: unset;    

}
.filhover:hover
{
    background-color:#DEEBFF ;
}

#childt
{
    margin-right: 15px
}

#heartt
{
    margin-right: 15px
} 

#dogt
{
    margin-right: 15px
}

#monr
{
    margin-top:-2%;
}

.prondf
{
    background-color: #DEEBFF;
    width: 39px;
    height: 39px;  
    align-items: center;
    border-radius: 25px;
    margin-right: 10px;
    display:flex;
    justify-content: center;
    color: #0065FC;
}

#info
{
    display:flex;
    flex-direction:row;
    align-items: center;
    margin-bottom: 17px;
    margin-left: 4px;
    
}

#bin
{
    width: 17px;
    height: 17px;
    align-items: center;
    border-radius: 25px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-color: #F2F2F2;  
    color: #0065FC; 
    font-size: 0.7em;
}

#heberg
{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-left:10px;
}

#gberg
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#hdisplay
{
    flex-wrap: wrap;
    background-color:#F2F2F2;
    border-radius:25px;
    width: 66%;
    margin-right: 45px;
    display:flex;
    margin-left: -5px;
}

#htitle
{
    margin-top: 50px;
    margin-left: 55px;
    margin-bottom: 35px;
    font-weight: 900; 
}

#ap
{
    margin-left: 60px;
    font-weight: bolder;
    margin-bottom:50px;
    margin-top:-2%;
}

#form
{
    border:1px solid #F2F2F2;  
    height: 40px;
    width: 200px;
    padding-left: 3%

}
#form::placeholder
{
    font-family: 'ralewaythin', Verdana;  
    color: black; 
    font-weight: bold ;   
}

.ht3
{
    margin-bottom: -2px;
}

.ht2
{
    margin-top:-7px;
    color:#0065FC;
}
.stargraycolor
{
    color:#DEEBFF;
}

.prix
{
    font-weight:bold;
}
.prixbas
{
    font-weight: bold;
}

.hebergements
{
    display: flex;
    flex-direction: column-reverse;
    border-radius: 25px;    
    width: 320px;
    height: 250px;
    background-repeat: no-repeat;
    border: 10px solid white;
    margin-left: 40px;
    margin-bottom: 11%;
    background-color: rgb(148, 130, 130); 
}

.heberboit
{
    background-color: white; 
    padding-left: 10px;       
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

#h1
{   
    background-image: url(../images/hebergements/bunkbedsmall.jpg);
}



#h2
{ 
    background-image: url(../images/hebergements/camac.jpg);
  
}




#h3
{
    background-image: url(../images/hebergements/lamp.jpg);
   
}



#h4
{
    
    background-image: url(../images/hebergements/mer.jpg);
 
}



#h5
{
    
    background-image: url(../images/hebergements/panier.jpg);
  
}



#h6
{
    
    background-image: url(../images/hebergements/mina.jpg);

}



#spn
{
    display:inline-flex;
}

#asid
{
    flex-wrap: wrap;
    background-color:#F2F2F2;
    border-radius:25px;
    display: flex;
    width: 29%;   
}

#chart
{
    display:inline-flex;
    align-items: center;

}

#ichart
{
   
    font-size:1.4em;
}


#lp
{
    margin-top: 10px;
    margin-right: 12px;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    width:79%
}

#tp
{
    margin-bottom: 40px;
    margin-top: 40px;
    font-weight: bolder;
    width: 100%;
}

#le3p
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
}
.popula
{
    height: 35%;
    background-color: white;
    border-radius: 25px;    
    background-size: 170px 180px;
    background-repeat: no-repeat;
    border: solid 10px white;
    display: flex;
    margin-bottom: 10%;
    width:103%
}



#p1
{
    
    background-image: url(../images/hebergements/populaire1.jpg);
  
}

.rpp1
{
    margin-left: 190px;
}

.imp1
{
    margin-top: 29%;
    margin-left: 2%;
    color:#0065FC;
}

#mc
{
    
    padding-bottom: 0%;
    margin-top: 20%;
}

#p2
{
   
    background-image: url(../images/hebergements/populaire2.jpg);   
}

#p2pp
{
margin-left: 62%;
width: 51%;
margin-top:-2%;
padding-bottom: 3%;
}


#p3
{
      background-image: url(../images/hebergements/populaire3.jpg);
   
}

#resul
{
    display:flex;
    flex-wrap:wrap;
    margin-left: 10px;
    margin-bottom: 65px;
}

#activites
{
    margin-top: 65px;
}

#actg1
{
    display: flex;
    flex-direction: column;
    width: 817px;
    height: 562px;
    flex-wrap: wrap;
}

#tactiv
{
    margin-left: 8px;
}

.standactivities
{
    background-repeat: round;
    border-radius: 25px;
    border: solid 1px #F2F2F2;
    width: 400px;
}

.bigact
{   
    height: 565px;    
}

.mact
{  
    height: 294px;
    margin-bottom: 52px; 
    margin-left: 61px;
}

.msact
{   
    height: 254px;
    margin-bottom: 49px; 
    margin-left: 61px;
}

.sact
{   
    height: 209px;
    margin-left: 61px;
}

#act1
{
    background-image: url(../images/activites/vieux.jpg);
   
}


.textbigact
{
    padding-top: 20px;
    background-color: white;
    margin-top: 511px;
    padding-left: 18px;
    padding-bottom: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: solid 1px #F2F2F2;
    font-weight: bolder;
}

#act2
{
    background-image: url(../images/activites/fort.jpg);  
  
}

.txtsactmact
{
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: solid 1px #F2F2F2;
    padding-left: 18px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bolder;
}

#pa2
{       
    margin-top: 236px;  
   
}

#act3
{
    background-image:url(../images/activites/ile.jpg);
  
}

#pa3
{   
    margin-top: 155px;   
}

#actg2
{  
    display: flex;
    flex-direction: column;
    width: 817px;
    height: 562px;
    flex-wrap: wrap;
    margin-left: 107px;
}

#act4
{
    background-image: url(../images/activites/park.jpg);    

}


#act5
{
    background-image: url(../images/activites/notre.jpg);  
   
}

.textactms
{
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: solid 1px #F2F2F2;
    margin-top: 197px;
    padding-left: 18px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bolder;
}

#act6
{
    background-image:url(../images/activites/long.jpg);
    margin-bottom: 0;     
    
}



footer
{
    display: inline-flex;
    text-align: inherit;
    background-color: #F2F2F2;
    width: 104%;
    margin-left: -48px;
    height: 190px;
    margin-bottom: -32px;
    padding-bottom: 20px;
    font-weight: bold;
    padding-right:4px;
}

ul
{
    margin-left: -40px;
    margin-top: 24px;
}

.lifoot
{
    margin-top:15px;
}

.footh3
{
   font-weight: bold;
   margin-right: 497px;
   margin-top: 50px;
   width: 35%;

}

#fap
{
   margin-left: 71px;
}

.mf
{
    width: 33%;
}

#astf
    
{
        width:10%
}



@media screen and (max-width:667px)
{
    body
    {
        margin: unset;
    }
    main
    {
        margin: unset;
    }
    header
    {
        display:flex;        
    }
    ul
    {
        margin-left: 0%;       
    }

    #logo
    {
        width: 32%;
        height: auto;
        position: absolute; 
        margin-left: 3%;
        margin-top: 3%;          
        
    }

        
    nav
    {
        width: auto;
        height: unset;
        margin-left: 0;
    }
    
    #headul
    {
        display: flex;
        flex-wrap: nowrap;  
        margin: unset ;      
        padding: unset;
        height: 100%;
        width: 100%;
    }

    #headul div
    {
        width: 100%;
        height: 100% ;
        
    }
   
       
    .he:nth-child(1)
    {
        font-size: 5vw;        
        margin-top: 31%;
        margin-right: unset;        
        padding-right: unset;
        padding-top: unset;
        position: relative;
        top: 61%;        
        width: 55%;
        text-align: center;
        border-bottom: 3px solid #F2F2F2;

       
    }
   
    .he2
    {
        font-size: 5vw;
        padding-top: 31%;
        margin-top: 31%;
        margin-right: unset;
        margin-left: unset;
        width: unset; 
        padding-right: unset;
        padding-top: unset;
        position: relative;
        top: 61%;               
        width: 45%;
        text-align: center;
        padding-bottom: 6%;
             
        border-bottom: 3px solid #F2F2F2;
       
    }

    .he:nth-child(2)
    {
        margin-top: unset;
        margin-right: unset;
        margin-left: unset;
        width: unset;
        font-size:4.4vw;
        position: absolute;
        right:9%;               
        text-align: center;
        padding-right: unset;
        
       
        
    }

    .he:hover
    {
         border-bottom:7px solid #0065FC;
         border-top:none;
    }

    #sins
    {
            border:none;
    }

    #reve
    {
              
        margin-top: 8%;
        font-size: 6.5vw;
        margin-left: 6%;
    } 

    #tpr
    {
        margin-left: 6%;
        font-size: 4.8vw;
    }

    #butmap
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F2F2F2;
        height: 100%;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        width: 27%;   
        font-size: 4vw;    
        margin-left: 1%;
        padding-right: 1%;   
    }

    #spn
    {
        margin-top:1%;
        width: 87%;
        margin-left: 2%;
    }
  

    #form
    {
        border: 1px solid #F2F2F2;
        height: unset;
        width: 100%;
        padding-left: 7%;
        padding-top: 2%;
        font-size: 4.2vw;
    }

    #form::placeholder
    {
        font-size: unset;
        font-family: 'ralewaythin', Verdana;
    }

    #rech
    
    {
        display: none
    }

    #butrech
    {
        margin-top: 7%;        
        height: 17vw;
        width: 100%;

    }

    #rech2
    {
        background-color: #0065FC;
        border: 10px;
        color: #FFFFFF;
        padding: 0px;
        vertical-align: middle;
        border-radius: 12px;
        width: 28%; 
        display: flex;   
        justify-content: center;
        align-items: center;
       
        margin-top: 0;        
    }
    #rechr
    {
        display: flex;
        justify-content: center;
        font-size: 4vw;
        
    
    }
   

    #filtres 
    {
        
        align-items: end;
       
        flex-wrap: wrap;
        margin-left: 4%;
    }

    #fil
    {
        font-size: 4.8vw;
    }

    #fil2 

    {        
        flex-wrap: wrap;
    }

    #fecotext
    {
        margin-top: 0%;
    }

    .filtret
    {
        
        margin-top: 0%;
        font-size: 4.5vw;
        
    }
    .filtreb
    {
        border: 4px solid;
        border-color: #F2F2F2;
        align-items: center;
        border-radius: 34px;
        margin-right: unset;        
        display: inline-flex;
        border: 2px solid #F2F2F2;
        width: 43%;
        height: 12vw;
    }

    #mon
    {        
        width: auto;        
        align-items: center;
    }

    #monr
    {
        margin-top: 0;  
            
    }

    
    #childr
    {
        
    }

    #child
    {
        margin-left: 3%;      
        
        
    }

    #childt
    {
        font-size: 2em;
    }

    #heartr
    {
        
    }

    #heart
    {
              
        margin-top: 3%;        
        width: 49%;
    }

    

    #heartt
    {
        font-size: 2em;
    }

    #dog
    {
        width: 60%; 
        margin-top: 3%;       
    }

    .prondf
    {       
        height: 104%;
        width: 12vw;
        align-items: center;
        border-radius: 57px;               
        justify-content: center;         
        background-color: #DEEBFF;   
        margin-left: -2%; 
        font-size: 4vw;       
    
    }
    
    
    #dogt
    {
        font-size:2em;
    }

    #info
    {
         margin-left: 4%;
        margin-top: 5%; 
        font-size: 4.5vw;
        width: 96%;
            
    }
   

    #bin
    {
        width: 17px;
        height: 1em;
        align-items: center;
        border-radius: 41px;        
        display: flex;
        justify-content: center;
        border: 1px solid;
        border-color: #F2F2F2;
        padding: 5px;
      
    }
    #heberg
    {
        margin-left: unset;
        flex-direction: column;
    }
    #gberg
    {       
        flex-direction: column-reverse;        
    }

    #hdisplay
    {
                      
        width: 100%;
        margin-right: auto;
        background-color: white;
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    

    #asid
    {            
        border-radius: 0;         
        margin-right: 0;
        width: 100%;      
    }

    #tp
    {    
        margin-left: 0px;              
        padding-left: 0px;
        font-size: 6vw;
    }

    #chart
    {
        margin-top: 4%;
        width: 118%;
    }

    #ichart 
    {
        font-size: 6.5vw;
        position: relative;
        right: 30%;
    }
    

    #le3p 
    {
        display: flex;
        flex-direction: column;
    }

    .rpp1
    {
        width: 100%;
        font-size: 3.8vw;
        position: relative;
        left: 15%; 
        margin-left: unset;
    }

    .imp1
    {
        margin-top: 11% ;        
    }

    #mc
    {
        margin-top: 8%;
    }

    #mc2
    {
        
        width: 53%;
        height: 100%;
        margin-left: 30%;
    }
    .popula
    {
        width: 100%;
        height: 34%;
        background-size: 44% 100%;
        margin-bottom: 7%;
        display: flex;
        justify-content: flex-end;
    }

  
    #p2pp
    {
        margin-left: 53%;
    }
    

    #hg
    {
        margin-top: 8%;
        margin-left: -5px;
        font-size:3em;
    }
    .hp3
    {
                margin-top: 6%;
        margin-left: 2%;
    }

    .hp4
    {        
        margin-left: 2%;
        width: 100%;

    }
   

  
    .ht2
    {
        
        margin-left: 2%;
        padding-bottom: 1%;
    }

    .ht3
    {
        margin-bottom: -15px;        
        margin-top: 2%;
        margin-left: 2%;
    }

    .heberboit
    {
        width: 100%;        
        padding-left: 5%;            
        margin-bottom: -3px;
        margin-left: -1px;
        border-bottom-left-radius: 29px;
        border-bottom-right-radius: 40px;
        font-size: 4.2vw;   
    }    
    
    .hebergements
    {
        width: 90%;
        height: 58vw;
        margin-bottom: 40px;
        box-shadow: 5px 5px 9px #f2f2f2;
        border-radius: 59px;
        background-size: 100% 76%;
        margin-left: 2%;      
    }

    #h1
    {   
        
        background-image: url(../images/hebergements/bunkbedr.jpg);  
    }

   
     #h2
    {
        
        background-image:url(../images/hebergements/camacr2.jpg)
    }

     #h3
    {
      
        background-image:url(../images/hebergements/lampr.jpg) 
    }    

     #h4
    {
        
        background-image: url(../images/hebergements/merr.jpg);
    }

     #h5
    {
       
        background-image: url(../images/hebergements/panierr.jpg); 
    }

     #h6
    {
       
        background-image: url(../images/hebergements/minar.jpg);
    }

    #htitle
    {
        
        margin-left: 6%;
        font-size:6vw; 
    }

    #ap
    {
        margin-left: 4%;
        margin-top: -4%;
        margin-bottom: 0;
        font-size: 5.3vw;
    }

    #tactiv
    {
        font-size: 6vw;
        margin-top: 14%;
        margin-bottom: 7%;
        margin-left: 6%;
    }

    #activites
    {
        margin-top: 50px;
        padding-bottom: 6%;
    }

    #resul    
    {
        
        flex-direction: column;
        
    }

    #actg1
    {
        width: 100%;
        height: 100%;        
    }

    #actg2
    {
        width: 100%;
        height: 100%;
        margin-left: unset;
    }
    
    .standactivities
    {
        margin-left: -4%;
        width: 100%;
        height: unset;
        margin-bottom: 50px;
        box-shadow: 5px 5px 9px #f2f2f2;
        border-radius: 59px;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    #act1
    {
      
        background-image: url(../images/activites/vieuxp.jpg);
        margin-bottom: 32vw;
    }
    

    .textbigact
    {
        width: 96%;
        margin-left: -1px;
        border-bottom-left-radius: 29px;
        border-bottom-right-radius: 40px;
        margin-top: 41%;
        padding-bottom: 41px;
        font-size: 5.2vw;
        padding-left: 5%;
        padding-top: 4%;
        margin-bottom: -1%;
    }

    .app
    {
        margin-top: 4%;
        margin-left: 3%;
    }

     #act2
    {
       
        background-image: url(../images/activites/fortp.jpg);
        margin-bottom: 22vw;
    }
    .mact
    {
        
    }
    .sact
    {
        
    }
    .smact
    {
       
    }

    .txtsactmact
    {
        width: 96%;
        margin-left: -1px;
        border-bottom-left-radius: 29px;
        border-bottom-right-radius: 40px;
        margin-top: 41%;
        padding-bottom: 41px;
        font-size:5.2vw;
        padding-left: 5%;
        padding-top: 4%;
        margin-bottom: -1%;
    }

    #pa2
    {
        margin-top: 41%;

    }

    #act3
    {
       
        background-image: url(../images/activites/ilep.jpg);
        margin-bottom: 10vw;
    }

    #pa3
    {
        margin-top: 41%;
    }

    #act4
    {
      
        background-image: url(../images/activites/parkp.jpg);
        margin-top: 20%;
        margin-bottom: 18vw;

    }   

    #act5
    {
       
        background-image: url(../images/activites/notrep.jpg);
        margin-bottom: 15vw;
    }

   .textactms
    {
        width: 96%;
        margin-left: -1px;
        border-bottom-left-radius: 29px;
        border-bottom-right-radius: 40px;
        margin-top: 41%;
        padding-bottom: 41px;
        font-size: 5.2vw;
        padding-left: 5%;
        padding-top: 4%;
        margin-bottom: -1%;
    }

    #act6
    {
       
       background-image: url(../images/activites/longp.jpg);
       margin-bottom: 20%;
      
       
    }
    

    footer
    {
        width:100%;
        margin-left:unset;
        height: auto;        
        flex-direction: column;        
    }

    #fap
    {
      margin-left: 5%; 
      margin-bottom: 2%;  
      margin-top:4%;
      font-weight: 500;
        
    }

    .footh3
    {
        margin-right:0;        
        font-size: 5.2vw;
        width: 56%;
    }

    .mf
    {
        margin-left: 5%;
        margin-bottom: 3%;
        font-weight: 500;
        width:96%;
    }

    #astf
    {
        width: auto;
    }
    
    .lifoot
    {
        font-size: 5.2vw;
        margin-left: -13%;
    }
}



@media screen and (min-width:720px) and (max-width:1366px)
{
    #nav
    {
        margin-top:4%;
    }

    #hdisplay
    {
       width: 102%;
       margin-left: -2%;
       align-content: center;
    }

    article
    {
        display: flex;
        justify-content: center;
    }

    
    #asid
    {
        width: auto;
        height: fit-content;        
        margin-top: 4%;
    }
    #heberg
    {
        justify-content: center;
        margin-left:0;
    }
    #gberg
    {
        display: unset;
    }
    #htitle
    {        
        font-size: 1.8em;
        margin-top: 3%;
    }
    .hebergements
    {
        width: 369px;
    }
    .heberboit
    {
        width: 365px;
        margin-left: -1%;
        padding-bottom: 1%;
        margin-bottom: -1%;
    }
    #ap
    {
        font-size: 1.2em;
    }
   
    #reve
    {
        text-align: center;
        margin-bottom: 3%;
    }
    #tpr
    {
        text-align:center;
        font-size: 1.2em;
    }
    #filtres
    {
        justify-content: center;
        width: 100%;
    }
    #form
    {
        width: 327px;
    }
    #spn
    {
        align-items: baseline;
        margin-top: 1%;
    }
    #form::placeholder
    {
        font-size: 1.4em;
        font-family: 'raleway';
        text-align: center;
    }

    #info
    {
        justify-content:center;
        font-size: 1.1em;
    }
    #butrech
    {
        justify-content: center;
    }
    .he
    {
        text-align: left;
        margin-left: -22%;
        font-size: 1.18em;
    }
    .he:nth-child(1) {
        margin-top: -54px;        
        width: 139px;
        padding-right: 3vw;
        padding-top: 33px;
        padding-left: 10%;
    }
    .he2
    {
        margin-left: 78px;
        margin-top: -54px;
        margin-right:0px;
        width: 119px;
        padding-right: 10vw;
        padding-top: 38px;
    }
    .he:nth-child(2) 
    {
        margin-left: -15%;
        margin-top: -51px;
        margin-right: -50px;
        width: 125px;
        padding-right: 1px;
        padding-top: 33px;
        text-align: end;    
    }
    
    #logo
    {
        margin-left: -2%;
    }

    .popula
    {
        height: auto;
        width: fit-content;
        margin-bottom: 2%;
    }
    #tp
    {
        text-align: center;
        font-size: 1.8em;
    }
    #le3p
    {
        width: fit-content;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
    #ichart
    {
        margin-left: -200%;
    }
    #lp
    {
        width: unset;        
        padding-bottom: 4%;
    }
    
       
    #p2
    {
        order:-1;              
    }

    #p3
    {
        margin-left:2%;        
    }

    #h1 
    {
        background-image: url(../images/hebergements/bunkbedsmallt.jpg);
    }

    #h2 
    {
        background-image: url(../images/hebergements/camact.jpg);
    }    
    #h3 
    {
        background-image: url(../images/hebergements/lampt.jpg);
    }
    #h4 
    {
        background-image: url(../images/hebergements/mert.jpg);
    }
    #h5 
    {
        background-image: url(../images/hebergements/paniert.jpg);
    }
    #h6 
    {
        background-image: url(../images/hebergements/minat.jpg);
    }
    #actg2
    {
      margin-left: 0;  
      margin-top: 5%;
    }
    #resul
    {
        font-size: 1.2em;
    }
    footer
    {
        width: 108%;
    }
   

    
    .footh3
    {
        width: fit-content;
        margin-right: unset;   
        margin-left: 1%;
    }
    #tactiv
    {
        text-align: center;
        font-size: 1.8em;
    }
    #resul
    {
        justify-content: center;
       
    }
    .standactivities
    {
        width: unset;
    }
    .app
    {
        width: 47%;
    }
    .bigact
    {
        height: 88%;
    }
    
    #fap
    {
        margin-left: 6%;
        padding-right: 6%;
    }
    .mf
    {
        
        
    }
    #astf
    {
        width: unset;
    }

    #dog   
    {
        margin-right: -15px;
    }
    
    #prondf
    {
        width: 5vw;
        height: 5vw
    }
    #dogr
    {
        margin-right: 15%;
    }

    .filtret
    {
        width:20% ;
        font-size: 0.9em;
    }
    #fil
    {
        margin-right: 2%;
    }

}

    


    
@media all and (min--moz-device-pixel-ratio:0) and (max-width: 680px)
{
    
}